Напишите программу, проверяющую стаж работы сотрудника. Поместите в переменную status следующую строку:

In [1]:
worker = ['Olya', 'Silyutina', 350000, 3]

if  worker[-1] <2:
    position = 'junior'
elif worker[-1] >= 2 and worker[-1] <=5:
    position = 'middle'
else: position = 'senior'

status = worker[0] + ' ' + worker[1] + ' '+ 'is' + ' ' + position
print(status)

Olya Silyutina is middle

В списке values содержатся числовые значения. Создайте список tens и добавьте в него все числа из values, которые делятся на 10 нацело.

In [5]:
values = [20,40,35,43]
tens = []

for i in values:
    if i % 10 == 0:
        tens.append(i)
print(tens)

[20, 40]

Реализуйте цикл, который пробегается по уже созданному списку workers со значениями и выводит для каждого сотрудника следующую строку (то есть печатает её для каждого элемента списка):

user_name user_family is position

где user_name и user_family — имя и фамилия сотрудника, а position — одна из следующих строк:

'junior' — стаж меньше 2 лет
'middle' — стаж больше либо равен 2 и меньше или равен 5
'senior' — стаж строго больше 5 лет

In [6]:
workers = [['Ivan', 'Ivanov', 100000, 2], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 3]]

for i in workers:    
    new_workers = []
    for y in i:        
        new_workers.append(y)
    if  new_workers[3] <2:
        position = 'junior'
    elif new_workers[-1] >= 2 and new_workers[-1] <=5:
        position = 'middle'
    else: position = 'senior'
    
    status = new_workers[0] + ' ' + new_workers[1] + ' '+ 'is' + ' ' + position
    print(status)

Ivan Ivanov is middle
Petr Petrov is middle
Sidor Sidorov is middle

Поместите в список lst числа от 0 (n = 0) до 10 включительно (N = 10) c шагом 2 (dn = 2).

In [11]:
lst =[]
i = 1
t = 0
while t<11:
    lst.append(t)
    t = t+2
    
print(lst)

[0, 2, 4, 6, 8, 10]

Работа со словарями

In [19]:
salaries = {'Ivan': 30000}

In [20]:
salaries['Ivan']

30000

In [22]:
users_dict = {'login':'mvolkova'}
print(users_dict)
users_dict['login']

{'login': 'mvolkova'}

'mvolkova'

In [21]:
salaries_dict = {'name':'Masha', 'surname':'Volkova', 'age':25, 'salary':60000, 'position':'junior'}
salaries_dict['surname']

'Volkova'

In [24]:
users_dict = {'login':'mvolkova','name':'Masha'}

In [26]:
w = {"1": {"11": 11}, "2": {"22": 22}}

In [28]:
w["1"]["11"]

11

In [64]:
users_dict = {
    'mvolkova': {'name':'Masha','surname':'Volkova', 'age': 25, 'salary':60000,'position':'junior' },
    'pvoronov': {"name":'Peter', 'surname':'Voronov', 'age': 27, 'salary':100000, 'position':'junior'},
    'pparker': {"name":'Peter', 'surname':'Parker', 'age': 35, 'salary':150000, 'position':'middle'},
    'akarpov': {"name":'Anatoly', 'surname':'Karpov', 'age': 30, 'salary':250000, 'position':'senior'}
}

In [65]:
users_dict['mvolkova']['age']

25