# Задачи


1. Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5. 


2. На сколько ночей в среднем бронируют отели разных типов?


3. Сколько несоответствий по заранее бронированному номеру и фактически полученному встретилось в датасете?


4. На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017? На какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов


5. Какая из трёх переменных: adults, children и babies имеет наибольшее среднее значение?


6. Для отелей какого типа среднее значение переменной total_kids (включает в себя Children и Babies) оказалось наибольшим?


7. Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.

In [4]:
# импортируем библиотеки
import pandas as pd
import datetime

In [5]:
# считываем исходные данные и знакомимся со структурой
bookings = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-i-evsa-22/lesson_2/2_bookings.csv', sep=';')
bookings.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [6]:
# помещаем название всех столбцов в список
list = {'Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'}

In [7]:
# функция, которая заменяет пробелы на _ и приводит название к нижнему регистру
def replace_space(name):
    new_name = name.replace(' ', '_').lower()
    return new_name

In [8]:
# записываем в датафрейм переименованные с помощью функции столбцы
bookings = bookings.rename(replace_space, axis='columns')

In [22]:
# На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel? 
bookings.groupby('hotel', as_index=False).agg({'stays_total_nights':'mean'}).round(2)

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

In [21]:
# определяем пользователи каких стран (ТОП-5) совершили наибольшее число успешных бронирований? 
# Бронирование считается успешным, если в дальнейшем не было отменено
bookings.query('is_canceled == 0').groupby('country', as_index=False).agg({'stays_total_nights':'count'}).sort_values(by='stays_total_nights',ascending=False).head(5)

    country  stays_total_nights
125     PRT               21071
57      GBR                9676
54      FRA                8481
50      ESP                6391
42      DEU                6069

In [29]:
# На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

bookings.query('arrival_date_year == 2017').value_counts('arrival_date_month').sort_values(ascending=False)
bookings.query('arrival_date_year == 2016').value_counts('arrival_date_month').sort_values(ascending=False)

arrival_date_month
October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
dtype: int64

In [34]:
# на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017? 
bookings.query("is_canceled == 1 and hotel =='City Hotel'").groupby('arrival_date_year')['arrival_date_month'].value_counts()

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

In [24]:
# Какая из трёх переменных: adults, children и babies имеет наибольшее среднее значение?
bookings[["adults","children","babies"]].agg('mean').idxmax()

'adults'

In [36]:
# создаем новую переменную total_kids
# Для отелей какого типа среднее значение переменной оказалось наибольшим?
bookings['total_kids'] = bookings['children'] + bookings['babies']
bookings.groupby('hotel')['total_kids'].agg('mean').round(2)
#.max()

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

In [37]:
# Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе.
# В нашем случае Churn Rate - это процент клиентов, которые отменили бронирование. 
# Посмотреть как эта метрика связана с наличием детей у клиентов!

# создаем новый флаг has_kids
bookings['has_kids'] = bookings['total_kids'] > 0

# отбираем тех, у кого есть дети и кто отменил бронирование
churn_has_kids_1 = bookings.query("is_canceled == 1 and has_kids == True")['is_canceled'].count()

# отбираем всех, у кого есть дети
churn_has_kids_2 = bookings.query("has_kids == True")['has_kids'].count()

# считаем Churn Rate 
churn_has_kids = (churn_has_kids_1/churn_has_kids_2)*100
churn_has_kids.round(2)

34.92

In [38]:
# отбираем тех, у кого нет детей и кто отменил бронирование
churn_no_kids_1 = bookings.query("is_canceled == 1 and has_kids == False")['is_canceled'].count()

# отбираем всех, у кого нет детей
churn_no_kids_2 = bookings.query("has_kids == False")['has_kids'].count()

# считаем Churn Rate 
churn_no_kids = (churn_no_kids_1/churn_no_kids_2)*100

churn_no_kids.round(2), churn_has_kids.round(2)

(37.22, 34.92)