# Задание

Ваша задача – найти все произведения, связанные с подсолнухами. 

Внимательно посмотрите на формат ответа и сохраните id полученных объектов в список sunflower_ids

In [14]:
# загружаем библиотеки

import requests
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import json

import numpy as np

In [3]:
# считываем данные по слову "sunflowers"
r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?q=sunflowers')
res = r.json()

In [5]:
# загружаем данные в датафрейм
df = pd.DataFrame(res)
df.head(5)

   total  objectIDs
0     87     436524
1     87     484935
2     87     437112
3     87     210191
4     87     431264

In [8]:
# сохраняем id полученных объектов в список

list_df = df['objectIDs'].to_list()

# оставляем только уникальные значения в списке
list_df = set(list_df)

In [ ]:
for i in df['objectIDs']:
    if i == 437329:
        print('ok!')

Выполните запрос для объекта 437980. Для проверки соотнесите полученные параметры с их значениями

In [13]:
# считываем данные по ObjectId 437980
r_test = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/437980')

# переводим данные в формат json
obj_test = r_test.json()


obj_test['artistDisplayName']
obj_test['culture']
obj_test['GalleryNumber']

'825'

Теперь напишите цикл, с помощью которого будет собрана информация об объектах, которые были получены на 2 шаге. 
Результаты запишите в датафрейм, а именно – следующие параметры:

objectID – id объекта
title – название
artistDisplayName – автор
department – департамент
objectBeginDate – дата (начало)
objectEndDate – дата (конец)
period – название периода
objectName – название/категория объекта
culture – культура

Сколько объектов относятся к японской культуре? (culture –Japan)

In [15]:
# создаем пустой список

obj=[]

# создаем цикл, чтобы пройтись по всем objectIDs, которые получились у нас на предыдущем шаге
# по каждому ID собираем данные, конвертируем данные в json и записываем в список
for i in df['objectIDs']:
    r_test = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/objects/' + str(i))
    res = r_test.json()
    obj.append(res)

In [17]:
# переводим список в датафрейм
rt=pd.DataFrame(obj)
rt.head(5)

,objectID,isHighlight,accessionNumber,accessionYear,isPublicDomain,primaryImage,primaryImageSmall,additionalImages,constituents,department,...,rightsAndReproduction,linkResource,metadataDate,repository,objectURL,tags,objectWikidata_URL,isTimelineWork,GalleryNumber,message
0,436524.0,False,49.41,1949,True,https://images.metmuseum.org/CRDImages/ep/orig...,https://images.metmuseum.org/CRDImages/ep/web-...,[],"[{'constituentID': 161947, 'role': 'Artist', '...",European Paintings,...,,,2022-10-20T04:55:06.267Z,"Metropolitan Museum of Art, New York, NY",https://www.metmuseum.org/art/collection/searc...,"[{'term': 'Still Life', 'AAT_URL': 'http://voc...",https://www.wikidata.org/wiki/Q9213165,False,825,NaN
1,484935.0,False,1987.5,1987,False,,,[],"[{'constituentID': 165473, 'role': 'Artist', '...",Modern and Contemporary Art,...,,,2022-09-09T04:54:13.663Z,"Metropolitan Museum of Art, New York, NY",https://www.metmuseum.org/art/collection/searc...,"[{'term': 'Sunflowers', 'AAT_URL': 'http://voc...",https://www.wikidata.org/wiki/Q20195878,False,,NaN
2,437112.0,False,29.100.107,1929,False,,,[],"[{'constituentID': 162135, 'role': 'Artist', '...",European Paintings,...,,,2022-10-20T04:55:06.267Z,"Metropolitan Museum of Art, New York, NY",https://www.metmuseum.org/art/collection/searc...,"[{'term': 'Still Life', 'AAT_URL': 'http://voc...",https://www.wikidata.org/wiki/Q19905274,False,819,NaN
3,210191.0,False,2000.126,2000,False,,,[],"[{'constituentID': 38872, 'role': 'Manufacture...",European Sculpture and Decorative Arts,...,,,2020-09-16T18:35:19.457Z,"Metropolitan Museum of Art, New York, NY",https://www.metmuseum.org/art/collection/searc...,"[{'term': 'Sunflowers', 'AAT_URL': 'http://voc...",,False,556,NaN
4,431264.0,False,41.60.5,1941,False,,,[],"[{'constituentID': 106722, 'role': 'Artist', '...",Drawings and Prints,...,,,2020-03-02T21:50:01.377Z,"Metropolitan Museum of Art, New York, NY",https://www.metmuseum.org/art/collection/searc...,None,,False,,NaN

In [19]:
# формируем новый датафрейм, где оставляем только несколько колонок
result = rt[["objectID", "title","artistDisplayName","department","objectBeginDate","objectEndDate","period","objectName","culture"]]

# считаем сколько объектов относится к Японии
result.query('culture == "Japan"').count()

objectID             1
title                1
artistDisplayName    1
department           1
objectBeginDate      1
objectEndDate        1
period               1
objectName           1
culture              1
dtype: int64

Выполните поисковый запрос для департамента "Asian art" (departmentId = 6) с тегом "cat" 
и запишите id объектов в cat_ids. 
Вывести данные о первой 1000 объектов из списка.

В качестве ответа укажите, в каком периоде (period) было выполнено наибольшее количество работ, представленных в музее?

In [ ]:

#df = pd.read_json('https://collectionapi.metmuseum.org/public/collection/v1/search?departmentId=6&q=cat')
# df.head(10)

# obj=[]
# for i in df['objectIDs'].head(10):
#     r_test = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/objects/' + str(i))
#     res = r_test.json()
#     obj.append(res)
# obj    

rt=pd.DataFrame(obj)
rt.head(5)
rt.groupby('period', as_index=False).agg({'objectID':'sum'}).sort_values(by='objectID', ascending=False)

In [28]:
# делаем запрос по департаменту "Asian art" (departmentId = 6)
department = pd.read_json('https://collectionapi.metmuseum.org/public/collection/v1/search?departmentId=6&q=cat')

# записываем ID объектов в cat_ids
cat_ids = department['objectIDs'].to_list()

In [50]:
# записывыаем первые 1000 объектов из списка

j=[]
x = 0

for i in cat_ids:
    while x < 1000:
        j.append(i)
        x += 1

In [55]:
# проверяем, какое количество элементов было записано в список
numbers_of_element = len(j)
number

1000

In [60]:
# в rt у нас хранится вся информация обо всех объектах музея


rt.groupby('period', as_index=False).agg({'objectID':'sum'}).sort_values(by='objectID', ascending=False)

                   period    objectID
0                          36416288.0
1  Edo period (1615–1868)     57922.0