# Задание

Считайте данные из Google Sheets. Посчитайте процент мужчин среди всех посетителей сайта, округлите ответ до целых.

In [10]:
# импорт библиотек

import pandas as pd
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from io import BytesIO
import requests

In [4]:
# Specify path to your file with credentials
path_to_credential = '/mnt/HC_Volume_18315164/home-jupyter/jupyter-i-evsa-22/lesson_7/eighth-contact-345812-827127df840c.json'

In [5]:
# Specify name of table in google sheets
table_name = 'examples'

scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']

credentials = ServiceAccountCredentials.from_json_keyfile_name(path_to_credential, scope)

gs = gspread.authorize(credentials)
work_sheet = gs.open(table_name)

In [6]:
# Select 1st sheet
sheet1 = work_sheet.sheet1

In [7]:
# Get data in python lists format
data = sheet1.get_all_values()

In [8]:
# # Get header from data
headers = data.pop(0)

In [9]:
# Create df
df = pd.DataFrame(data, columns=headers)
df.head()

         date         gender users
0  2020-06-14  Not specified   150
1  2020-06-14           male   117
2  2020-06-14         female    21

In [12]:
req = requests.get('https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv')
data = req.content
data

b'date,gender,users\r\n2020-06-14,Not specified,150\r\n2020-06-14,male,117\r\n2020-06-14,female,21'

In [13]:
df = pd.read_csv(BytesIO(data))
df.query('gender == "male"')['users']/df['users'].sum()*100

1    40.625
Name: users, dtype: float64